<!DOCTYPE html>
<html lang="es" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista Mascotas</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" media="all">
    <script type="text/javascript" src="/js/script.js" defer></script>
    <link rel="icon" type="image/svg+xml" href="./media/logo-mascotas.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</head>
<body>
<section class="contenido-principal">
  <header role="banner">
    <div class="container header__inner">
      <picture class="header__logo">
        <a th:href="@{/}"><img
                src="/media/logo-mascotas.svg"
                alt="Logo de la tienda de mascotas PetShop"
                width="150"
                height="50"
                loading="lazy"></a>
      </picture>
      <button id="nav-toggle" class="header__toggle" aria-label="Abrir menú" aria-expanded="false">
        ☰
      </button>
      <nav id="nav" class="header__nav" role="navigation">
        <ul class="header__list">
          <li><a th:href="@{/}">Inicio</a></li>
          <li><a th:href="@{/}">Funciones</a></li>
          <li><a th:href="@{/}">Destacado</a></li>
          <li><a th:href="@{/}">Beneficios</a></li>
        </ul>
      </nav>
      <div class="lang-switcher" aria-label="Language selector">
        <a th:href="@{/login}" aria-label="Inicio Sesión">
          <img src="/media/user-icon.png" alt="inicio de sesión"/>
        </a>
      </div>
    </div>
  </header>
  <div class="container ">
    <h1 class="text-center">Listado de Mascotas</h1>
    <!--boton para cerrar sesion-->
    <div class="row">
      <div class="col-2" sec:authorize="hasRole('Admin')">
        <a th:href="@{/altaUsuario}" aria-label="agregar usuario" class="btn btn-primary mt-5 px-4" ><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80Zm-360-80q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/></svg></a>
      </div>

      <div class="col-2" sec:authorize="hasRole('Admin')">
        <a th:href="@{/formulario}" aria-label="agregar mascota" class="btn btn-primary mt-5 px-4" ><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M180-475q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Zm180-160q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Zm240 0q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Zm180 160q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM266-75q-45 0-75.5-34.5T160-191q0-52 35.5-91t70.5-77q29-31 50-67.5t50-68.5q22-26 51-43t63-17q34 0 63 16t51 42q28 32 49.5 69t50.5 69q35 38 70.5 77t35.5 91q0 47-30.5 81.5T694-75q-54 0-107-9t-107-9q-54 0-107 9t-107 9Z"/></svg></a>
      </div>

      <div class="col-2">
        <a th:href="@{/logout}" aria-label="Cerrar sesión" class="btn btn-danger mt-5 px-4" ><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg></a>
      </div>
    </div>
    <div class="table-responsive mt-5 rounded shadow-sm">
      <table class="table align-middle table-borderless">
        <thead class="bg-light text-secondary fw-bold border-bottom border-2">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Especie</th>
          <th scope="col">Raza</th>
          <th scope="col">Edad</th>
          <th scope="col">Peso</th>
          <th scope="col">DNI</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="mascota : ${mascotas}" class="align-middle bg-white border-bottom">
          <td class="fw-semibold" th:text="${mascota.nombre}">Firulais</td>
          <td class="text-muted" th:text="${mascota.especie}">Perro</td>
          <td th:text="${mascota.raza}">San Bernardo</td>
          <td th:text="${mascota.edad}">3</td>
          <td th:text="${mascota.peso} + ' kg'">4.5 kg</td>
          <td th:text="${mascota.dniPropietario}">06331960Z</td>
          <td class="text-center">
            <a th:href="@{'editar/' + ${mascota.getId()}}" class="btn btn-sm btn-outline-warning rounded-pill me-1">Editar</a>
            <a th:href="@{'borrar/' + ${mascota.getId()}}" class="btn btn-sm btn-outline-danger rounded-pill"
               onclick="return confirm('¿Seguro que deseas eliminar esta mascota?')">Eliminar</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>