<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista Usuarios</title>
</head>
<body>
<div class="contenido-principal">
    <h1>Lista de Usuarios</h1>
    <table class="table table-striped mt-5">
        <tr>
            <th>Nombre</th>
            <th>Password</th>
            <th>Rol</th>
            <th sec:authorize="hasRole('Admin')">Acciones</th>
        </tr>
        <tr th:each="usuario : ${usuario}">
            <td th:text="${mascota.nombre}"></td>
            <td th:text="${mascota.especie}"></td>
            <td th:text="${mascota.raza}"></td>
            <td th:text="${mascota.edad}"></td>
            <td th:text="${mascota.peso}"></td>
            <td th:text="${mascota.dni_propietario}"></td>
            <td>
                <a th:href="@{'editar/' + ${mascota.getIdMascota()}}"
                   class="btn btn-warning"
                   sec:authorize="hasRole('Admin')">Editar</a>

                <a th:href="@{'borrar/' + ${mascota.getIdMascota()}}"
                   class="btn btn-danger"
                   onclick="return confirm('¿Estas seguro de que quieres borrar a esta mascota?')"
                   sec:authorize="hasRole('Admin')">Eliminar</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>